.question-attribute-name {
    font-size: 1rem;
    color: #d5d8db;
}
.question-attribute-select {
    border: 2px solid #343536;
    font-weight: bold;
    color: #343536;
    box-shadow: 2px 2px #f5a52b;
    transition: 0.1s ease-in;
}
.question-attribute-select:hover {
    border: 2px solid #343536;
    font-weight: bold;
    color: #343536;
    box-shadow: 3px 3px #f5a52b;

    position: relative;
    top: -1px;
    left: -1px;
}
.question-attribute-select:focus {
    outline: none;
    box-shadow: 3px 3px #f5a52b;

    position: relative;
    top: -1px;
    left: -1px;
}
