.question-card {
    border: 2px solid #343536;
    padding: 0.5vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    box-shadow: 3px 3px #f5a52b;
}
.question-category {
    font-size: 1rem;
    color: #d5d8db;
}

.answer-list {
    display: flex;
    gap: 1rem;
    /* padding: 0.5rem; */
    color: #343536;
    flex-wrap: wrap;
    flex: 2 2;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.question-answer {
    font-weight: bold;
    border: 2px solid #343536;
    color: #343536;
    padding: 0.2rem 0.6rem;
    user-select: none;
    transition: 0.1s ease-in;
    box-shadow: 2px 2px #f5a52b;
    background-color: white;
    font-size: 1rem;
    flex-basis: 33%;
}
.question-answer:hover {
    position: relative;
    top: -1px;
    left: -1px;
    box-shadow: 3px 3px #f5a52b;
}
