* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}
:root {
    --shadow-color: #f5a52b;
    --text-color: #343536;
    --things-color: white;
    --background-color: #eaece5;
    --second-text-color: #bcbfc2;
}
.App {
    text-decoration: none;
    text-align: center;
}
